//
//  FlutterConfig.xcconfig
//  FlutterDemo2
//
//  Created by Daniel Mini on 2019/11/4.
//  Copyright © 2019 Daniel Mini. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "../../flutteraar/.ios/Flutter/Generated.xcconfig"

ENABLE_BITCODE=NO
